<turbo-frame id="notes-detail-container">
<article data-slug="{{ item.slug }}">
    <header>
        <h3>
            <a href="{% url "notes.graph_animation_view" item.slug %}"
               title="Graph View"
               data-turbo-frame="graph-animation">{{ item.title }}</a>
        </h3>
    </header>
    <section>
        <figure>
            <turbo-frame id="graph-animation">
            {{ graph | safe }}
            </turbo-frame>
        </figure>
        <script>{% include "notes/graph.js" %}</script>
    </section>
    <h4>Notes</h4>
    <ul>
        {% for note in item.notes.all %}<li>{{ note.title }}</li>{% endfor %}
    </ul>
</article>
</turbo-frame>
