{
    log {
        output stdout
        format console
    }
}

scrutiny.local:8089 {
    encode zstd gzip
    route {
        mercure {
            publisher_jwt !ChangeMe!
            subscriber_jwt !ChangeMe!
            anonymous true
            ui true
        }
        reverse_proxy web:8080 {
            transport http {
                max_conns_per_host 10
            }
        }
        respond "Not Found" 404
    }
}
