black==23.9.1
Django==4.2.5
django-cockroachdb==4.2
djangorestframework==3.14.0
djlint==1.32.1
feedparser==6.0.10
ipython==8.15.0
locust==2.16.1
matplotlib==3.7.2
networkx==3.1
psycopg2-binary==2.9.7
pyjwt==2.8.0
pytest==7.4.2
pytest-django==4.5.2
requests==2.31.0
social-auth-app-django==5.3.0
waitress==2.1.2
aiohttp==3.8.5
pydantic==2.3.0
coverage==7.3.1
