black==21.11b1
Django==3.2.9
djangorestframework==3.12.4
djlint==0.6.8
ipython==7.30.1
locust==2.5.1
opentelemetry-api==1.8.0
opentelemetry-sdk==1.8.0
opentelemetry-exporter-jaeger==1.8.0
opentelemetry-instrumentation-django==0.27b0
psycopg2==2.9.3
pyjwt==2.3.0
pytest==6.2.5
requests==2.26.0
waitress==2.0.0
