black==21.11b1
Django==3.2.11
django-cockroachdb==3.2.2
djangorestframework==3.12.4
djlint==0.7.4
ipython==7.31.1
locust==2.5.1
opentelemetry-api==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-exporter-jaeger==1.9.1
opentelemetry-instrumentation-django==0.28b1
psycopg2==2.9.3
pyjwt==2.3.0
pytest==6.2.5
pytest-django==4.5.2
requests==2.27.1
social-auth-app-django==5.0.0
waitress==2.0.0
aiohttp==3.8.1
pydantic==1.9.0
coverage==6.2
