<turbo-frame id="news-detail">
{% if items %}
    <article data-slug="{{ items.0.slug }}">
        <main>
            <header>
                <h1>
                    <a href="{{ items.0.url }}" target="_blank">{{ items.0.title }}</a>
                </h1>
                <h3>
                    <small>
                        By {{ items.0.author }},
                        on <time>{{ items.0.created_at }}</time>
                    </small>
                </h3>
            </header>
            <ul>
                {% for comment in items.0.children.all %}
                    {% if comment.text %}
                        <li data-slug="{{ comment.slug }}">
                            {{ comment.text | safe }}
                            <small>
                                <time>{{ comment.created_at }}</time>
                                By {{ comment.author }}
                            </small>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <footer>
                <a href="#most-recent" onClick="toTop()" title="Most Recent">[Most Recent]</a>
            </footer>
        </main>
    </article>
{% endif %}
</turbo-frame>
<script>
    function toTop() {
        document.getElementById("most-recent").scrollIntoView();
        return false;
    }
</script>
