<article>
    <header class="mb3">
        <h3 class="lh-title ma0">{{ item.title }}</h3>
        <small><time>{{ item.created_at }}</time></small>
    </header>
    <footer class="flex">
        <div class="w-25">By {{ item.author }}</div>
        <div class="w-50">score {{ item.points }}</div>
        <div class="w-25 flex items-end">
            <div class="w-100">
                <a class="link dim blue underline-hover tc"
                   title="Read Article"
                   href="{{ item.url }}"
                   target="_blank">Link</a>
            </div>
            <div class="w-100">
                <a class="link dim blue underline-hover tc"
                   onClick="toTop()"
                   title="Read Comments"
                   href="{% url 'news.list_view' %}?slugs={{ item.slug }}"
                   data-turbo-frame="news-detail">
                    Comments
                </a>
            </div>
        </div>
    </footer>
</article>
<script>
    function toTop() {
        window.scrollTo(0, 0);
    }
</script>
