<turbo-frame id="feed-container" data-feed="{{ id }}">
<article>
    <h4>{{ title }}</h4>
    <ol>
        {% for item in items %}
            <li>
                <article>
                    <a title="Read Comments"
                       href="{{ item.comments|default:item.link }}"
                       target="_blank">{{ item.title }}</a>
                    <br>
                    {% if item.comments %}<small><a href="{{ item.link }}" target="_blank">read</a></small>{% endif %}
                </article>
            </li>
        {% endfor %}
    </ol>
</article>
</turbo-frame>
