{% extends "base.html" %}
{% block page_styles %}
    <style>
        #news article form {
            border: none;
            box-shadow: none;
        }
        #news article form small {
            color: var(--color-text-primary);
        }
        #news .selected {
            color: var(--color-success)
        }
        #news input[type="submit"] {
            background: none!important;
            border: none;
            color: var(--color-link);
            cursor: pointer;
            display: inline-block;
            font-size: large;
            font-weight: bold;
            padding: 0!important;
            text-decoration: underline;
        }
    </style>
{% endblock %}
{% block page_content %}
    <section>
        <h1>Current Feeds</h1>
    </section>
    <section>
        {% include "news/list.html" with id=feed.id title=feed.title items=feed.items feeds=feeds %}
    </section>
    <script>{% include "news/list.js" with topic=topic %}</script>
{% endblock %}
