{% extends "base.html" %}
{% block page_content %}
    <section>
        <h1>Hacker News Top Stories</h1>
    </section>
    <section>
        <turbo-frame id="news-dashboard" src="{% url 'news_api.dashboard' %}">
        {% include "news/dashboard.html" %}
        </turbo-frame>
        <turbo-frame id="jobs-dashboard" src="{% url 'jobs_api.dashboard' %}?name=hackernews">
        {% include "jobs/dashboard.html" %}
        </turbo-frame>
    </section>
    <turbo-frame id="news">
    {% include "news/_list.html" with items=items %}
    </turbo-frame>
    {% if sse %}
        <script>{% include "news/list.js" %}</script>
    {% endif %}
    {% if items %}
        {% include "news/_detail.html" with items=items %}
    {% endif %}
{% endblock %}
