<nav class="pa4 lh-copy">
    <a class="link f3 green mr4"
       href="{% url 'scrutiny.index' %}"
       title="Scrutiny">Scrutiny</a>
    <a class="link dim blue underline-hover mr2"
       href="{% url 'news.list_view' %}"
       title="News">News</a>
    {% if features.library %}
        <a class="link dim blue underline-hover mr2"
           href="{% url 'library.list_view' %}"
           title="Library">Library</a>
    {% endif %}
    {% if features.notes %}
        <a class="link dim blue underline-hover mr2"
           href="{% url 'notes.list_view' %}"
           title="Notes">Notes</a>
    {% endif %}
</nav>
