<nav>
    <ul>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'news.list_view' %}" title="News">News</a>
            </li>
            {% if request.features.library %}
                <li>
                    <a href="{% url 'library.list_view' %}" title="Library">Library</a>
                </li>
            {% endif %}
            {% if request.features.notes %}
                <li>
                    <a href="{% url 'notes.list_view' %}" title="Notes">Notes</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url "logout" %}" title="Logout">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'scrutiny.about' %}" title="About">About</a>
            </li>
            <li>
                <a href="{% url "social:begin" "pocket" %}" title="Login">Login</a>
            </li>
        {% endif %}
    </ul>
</nav>
