<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Scrutiny</title>
        <link rel="stylesheet"
              href="//unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
        <script src="//unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js"
                defer
                data-turbo-track="reload"></script>
    </head>
    <body class="-debug-grid-16 sans-serif roboto">
        <header class="bb b--black-10">
            {% include "_nav.html" %}
        </header>
        <main class="mh4">
            <header class="w-100 mv5">
                {% block page_title %}{% endblock %}
            </header>
            <section class="flex bt b--black-10">
                {% block page_left %}{% endblock %}
                {% block page_right %}{% endblock %}
            </section>
        </main>
        <footer class="bt b--black-10 w-100">
            {% include "_nav.html" %}
        </footer>
    </body>
</html>
