{% extends "base.html" %}
{% block page_styles %}
    <style>
        .success {
            color: var(--color-success);
        }
        .warn {
            color: var(--color-warn);
        }
    </style>
{% endblock %}
{% block page_content %}
    <section>
        <h1>Dashboard</h1>
    </section>
    <section>
        <main>
            <turbo-frame id="news-container">
            <article>
                <header>
                    <h3>News Summary</h3>
                </header>
                <main id="news-summary">
                    <p>Loading...</p>
                </main>
            </article>
            </turbo-frame>
        </main>
    </section>
    <section>
        <article>
            <header>
                <h3>Jobs</h3>
            </header>
            {% if object_list %}
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in object_list %}
                            <turbo-frame id="job-{{ job.id }}">
                            <tr>
                                <td data-last-sync>
                                    <time datetime="{{ job.created_at | date:"c" }}">
                                        {{ job.created_at | date:"h:i A" }}
                                    </time>
                                </td>
                                <td>{{ job.name }}</td>
                                <td>{{ job.data }}</td>
                                <td data-status>
                                    <span class="{% if job.status == "pending" %}warn{% else %}success{% endif %}">{{ job.status }}</span>
                                </td>
                            </tr>
                            </turbo-frame>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No items.</p>
            {% endif %}
        </article>
    </section>
    <script>{% include "jobs/list.js" with topic=topic %}</script>
{% endblock %}
